In [1]:
import sqlite3
import pandas as pd

## Setup SQlite connection

In [9]:
cnx = sqlite3.connect(':memory:') #load database in memory

In [3]:
df_daily = pd.read_csv(
    "https://raw.githubusercontent.com/thoo/covid-tracking-data/master/data/states_daily_4pm_et.csv"
)

In [4]:
df_daily.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200715,AK,1631.0,154462.0,NaN,32.0,NaN,NaN,NaN,0.0,...,156093,0,0,94f51a21cc1532dde7387df47013f567fb56d967,0,0,0,0,0,NaN
1,20200715,AL,59067.0,481982.0,NaN,1362.0,7291.0,NaN,941.0,NaN,...,541049,47,168,115a76b81b0c3c59d334b5de8180c2e10899dddc,0,0,0,0,0,NaN
2,20200715,AR,30297.0,365479.0,NaN,458.0,1948.0,NaN,NaN,94.0,...,395776,4,76,ce730ea246418cfcb8291076ec9ebfd46c643bfa,0,0,0,0,0,NaN
3,20200715,AS,0.0,816.0,NaN,NaN,NaN,NaN,NaN,NaN,...,816,0,0,4a0065a1c290d322d0dc631197c4e6cd8c714834,0,0,0,0,0,NaN
4,20200715,AZ,131354.0,604608.0,NaN,3493.0,6103.0,929.0,NaN,671.0,...,735962,97,161,cd92598667964b8af84aa921365c5bad41b04036,0,0,0,0,0,NaN

### Load data into sql database

In [10]:
df_daily.to_sql(name='covid_daily',con=cnx)

### Query with pandas

In [11]:
pd.read_sql('select * from covid_daily limit 10',con=cnx)

,index,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,0,20200715,AK,1631.0,154462.0,None,32.0,NaN,NaN,NaN,...,156093,0,0,94f51a21cc1532dde7387df47013f567fb56d967,0,0,0,0,0,None
1,1,20200715,AL,59067.0,481982.0,None,1362.0,7291.0,NaN,941.0,...,541049,47,168,115a76b81b0c3c59d334b5de8180c2e10899dddc,0,0,0,0,0,None
2,2,20200715,AR,30297.0,365479.0,None,458.0,1948.0,NaN,NaN,...,395776,4,76,ce730ea246418cfcb8291076ec9ebfd46c643bfa,0,0,0,0,0,None
3,3,20200715,AS,0.0,816.0,None,NaN,NaN,NaN,NaN,...,816,0,0,4a0065a1c290d322d0dc631197c4e6cd8c714834,0,0,0,0,0,None
4,4,20200715,AZ,131354.0,604608.0,None,3493.0,6103.0,929.0,NaN,...,735962,97,161,cd92598667964b8af84aa921365c5bad41b04036,0,0,0,0,0,None
5,5,20200715,CA,347634.0,5445642.0,None,8353.0,NaN,2110.0,NaN,...,5793276,140,0,3284751051687e53d0dfa857b8524346100ec888,0,0,0,0,0,None
6,6,20200715,CO,37686.0,372304.0,None,368.0,5963.0,NaN,NaN,...,409990,5,22,830153bb75ba9fa3033b3b9c106d63219cf43f19,0,0,0,0,0,None
7,7,20200715,CT,47636.0,556463.0,None,67.0,10552.0,NaN,NaN,...,604099,8,0,e654ce16d6f923c25027a6440dc14925bc82185e,0,0,0,0,0,None
8,8,20200715,DC,11026.0,126918.0,None,95.0,NaN,24.0,NaN,...,137944,3,0,25e66788a89e5a8e5a1479a4024f91f53aa3a632,0,0,0,0,0,None
9,9,20200715,DE,13050.0,130338.0,None,51.0,NaN,11.0,NaN,...,143388,3,0,ae0d25e2c93b69f014e1f4f65352be3676880e88,0,0,0,0,0,None

### Query directly from the connection

In [12]:
cur = cnx.cursor()

In [13]:
cur.execute('select * from covid_daily limit 10')

In [14]:
rows=cur.fetchall()

In [16]:
for row in rows:
    print(row)

(0, 20200715, 'AK', 1631.0, 154462.0, None, 32.0, None, None, None, 0.0, None, 669.0, 'A', '7/15/2020 00:00', '2020-07-15T00:00:00Z', '07/14 20:00', 17.0, None, '2020-07-15T00:00:00Z', 156093.0, None, None, None, 17.0, None, 2, 52, 6568, 156093, 156093, 6620, 156093, 0, 0, '94f51a21cc1532dde7387df47013f567fb56d967', 0, 0, 0, 0, 0, None)
(1, 20200715, 'AL', 59067.0, 481982.0, None, 1362.0, 7291.0, None, 941.0, None, 514.0, 29736.0, 'B', '7/15/2020 11:00', '2020-07-15T11:00:00Z', '07/15 07:00', 1211.0, 7291.0, '2020-07-15T11:00:00Z', 540207.0, None, None, 58225.0, 1183.0, 28.0, 1, 1812, 10148, 541049, 541049, 11960, 541049, 47, 168, '115a76b81b0c3c59d334b5de8180c2e10899dddc', 0, 0, 0, 0, 0, None)
(2, 20200715, 'AR', 30297.0, 365479.0, None, 458.0, 1948.0, None, None, 94.0, 279.0, 23523.0, 'A', '7/15/2020 14:36', '2020-07-15T14:36:00Z', '07/15 10:36', 335.0, 1948.0, '2020-07-15T14:36:00Z', 395212.0, None, None, 30297.0, None, None, 5, 564, 4913, 395776, 395776, 5477, 395776, 4, 76, 'ce730ea246418cfcb8291076ec9ebfd46c643bfa', 0, 0, 0, 0, 0, None)
(3, 20200715, 'AS', 0.0, 816.0, None, None, None, None, None, None, None, None, 'C', '7/1/2020 00:00', '2020-07-01T00:00:00Z', '06/30 20:00', 0.0, None, '2020-07-01T00:00:00Z', None, None, None, None, None, None, 60, 0, 0, 816, 816, 0, 816, 0, 0, '4a0065a1c290d322d0dc631197c4e6cd8c714834', 0, 0, 0, 0, 0, None)
(4, 20200715, 'AZ', 131354.0, 604608.0, None, 3493.0, 6103.0, 929.0, None, 671.0, None, 16155.0, 'A+', '7/15/2020 00:00', '2020-07-15T00:00:00Z', '07/14 20:00', 2434.0, 6103.0, '2020-07-15T00:00:00Z', 735184.0, None, None, 130576.0, 2295.0, 139.0, 4, 3257, 10762, 735962, 735962, 14019, 735962, 97, 161, 'cd92598667964b8af84aa921365c5bad41b04036', 0, 0, 0, 0, 0, None)
(5, 20200715, 'CA', 347634.0, 5445642.0, None, 8353.0, None, 2110.0, None, None, None, None, 'B', '7/15/2020 00:00', '2020-07-15T00:00:00Z', '07/14 20:00', 7227.0, None, '2020-07-15T00:00:00Z', 5793276.0, None, None, 347634.0, None, None, 6, 11126, 107195, 5793276, 5793276, 118321, 5793276, 140, 0, '3284751051687e53d0dfa857b8524346100ec888', 0, 0, 0, 0, 0, None)
(6, 20200715, 'CO', 37686.0, 372304.0, None, 368.0, 5963.0, None, None, None, None, 4844.0, 'A', '7/15/2020 01:59', '2020-07-15T01:59:00Z', '07/14 21:59', 1594.0, 5963.0, '2020-07-15T01:59:00Z', None, None, None, 34663.0, None, None, 8, 444, 4591, 409990, 409990, 5035, 409990, 5, 22, '830153bb75ba9fa3033b3b9c106d63219cf43f19', 0, 0, 0, 0, 0, None)
(7, 20200715, 'CT', 47636.0, 556463.0, None, 67.0, 10552.0, None, None, None, None, 8351.0, 'B', '7/14/2020 20:30', '2020-07-14T20:30:00Z', '07/14 16:30', 4380.0, 10552.0, '2020-07-14T20:30:00Z', 602116.0, None, None, 45653.0, 3505.0, 875.0, 9, 106, 12232, 604099, 604099, 12338, 604099, 8, 0, 'e654ce16d6f923c25027a6440dc14925bc82185e', 0, 0, 0, 0, 0, None)
(8, 20200715, 'DC', 11026.0, 126918.0, None, 95.0, None, 24.0, None, 15.0, None, 1809.0, 'A+', '7/14/2020 00:00', '2020-07-14T00:00:00Z', '07/13 20:00', 571.0, None, '2020-07-14T00:00:00Z', None, None, None, None, None, None, 11, 80, 3948, 137944, 137944, 4028, 137944, 3, 0, '25e66788a89e5a8e5a1479a4024f91f53aa3a632', 0, 0, 0, 0, 0, None)
(9, 20200715, 'DE', 13050.0, 130338.0, None, 51.0, None, 11.0, None, None, None, 7236.0, 'A+', '7/14/2020 18:00', '2020-07-14T18:00:00Z', '07/14 14:00', 521.0, None, '2020-07-14T18:00:00Z', None, None, None, 12069.0, 463.0, 58.0, 10, 81, 1707, 143388, 143388, 1788, 143388, 3, 0, 'ae0d25e2c93b69f014e1f4f65352be3676880e88', 0, 0, 0, 0, 0, None)

In [17]:
pd.DataFrame(rows)

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,20200715,AK,1631.0,154462.0,None,32.0,NaN,NaN,NaN,...,156093,0,0,94f51a21cc1532dde7387df47013f567fb56d967,0,0,0,0,0,None
1,1,20200715,AL,59067.0,481982.0,None,1362.0,7291.0,NaN,941.0,...,541049,47,168,115a76b81b0c3c59d334b5de8180c2e10899dddc,0,0,0,0,0,None
2,2,20200715,AR,30297.0,365479.0,None,458.0,1948.0,NaN,NaN,...,395776,4,76,ce730ea246418cfcb8291076ec9ebfd46c643bfa,0,0,0,0,0,None
3,3,20200715,AS,0.0,816.0,None,NaN,NaN,NaN,NaN,...,816,0,0,4a0065a1c290d322d0dc631197c4e6cd8c714834,0,0,0,0,0,None
4,4,20200715,AZ,131354.0,604608.0,None,3493.0,6103.0,929.0,NaN,...,735962,97,161,cd92598667964b8af84aa921365c5bad41b04036,0,0,0,0,0,None
5,5,20200715,CA,347634.0,5445642.0,None,8353.0,NaN,2110.0,NaN,...,5793276,140,0,3284751051687e53d0dfa857b8524346100ec888,0,0,0,0,0,None
6,6,20200715,CO,37686.0,372304.0,None,368.0,5963.0,NaN,NaN,...,409990,5,22,830153bb75ba9fa3033b3b9c106d63219cf43f19,0,0,0,0,0,None
7,7,20200715,CT,47636.0,556463.0,None,67.0,10552.0,NaN,NaN,...,604099,8,0,e654ce16d6f923c25027a6440dc14925bc82185e,0,0,0,0,0,None
8,8,20200715,DC,11026.0,126918.0,None,95.0,NaN,24.0,NaN,...,137944,3,0,25e66788a89e5a8e5a1479a4024f91f53aa3a632,0,0,0,0,0,None
9,9,20200715,DE,13050.0,130338.0,None,51.0,NaN,11.0,NaN,...,143388,3,0,ae0d25e2c93b69f014e1f4f65352be3676880e88,0,0,0,0,0,None